<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<header>
<img class="logo" src="{{ section.settings.logo | img_url: 'original' }}" alt="logo">
   <p>{{ section.settings.middle_text }}</p>
    <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
</header>

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    },
    {
      "type": "text",
      "label": "Middle Text",
      "id": "middle_text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link",
      "default": "/"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "choose gift"
    }
    
  ]
}
{% endschema %}