{% schema %}
{
  "name": "Two Column",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "label": "Description",
      "id": "description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link",
      "default": "/"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Shop Now"
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
     {
      "type": "text",
      "label": "Bottom Text",
      "id": "bottom_text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
    
  ],
  "presets": [
    {
      "name": "Two Column",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="two-column-section">
  <div class="column-left">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.description }}</p>
    <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
  </div>

  <div class="column-right">
    <img src="{{ section.settings.image | img_url: 'large' }}" alt="Image">
  </div>
</div>

<div class="bottom_text">
  <p>{{ section.settings.bottom_text }}</p>
</div>